 <h3>{{ editingId ? 'Editar Proveedor' : 'Nuevo Proveedor' }}</h3>
    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" />
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">{{ editingId ? 'Actualizar' : 'Guardar' }}</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancelar</button>
      </div>
    </form>