table { width: 100%; margin-top: 15px; }
.estado-pendiente {
  color: #030303; /* rojo */
  font-weight: bold;
  background: #e6b206a8;
}

.estado-cancelado {
  color: #ff0000; /* gris oscuro */
  font-weight: bold;
  background: #d6434333; /* gris suave de fondo */
}
.estado-parcial {
  color: #1b83eb; /* azul */
  font-weight: bold;
  background: #1976d21f;
}


.estado-pagado {
  color: #2e7d32; /* verde */
  font-weight: bold;
  background: #2e7d323a;
}

.table-responsive {
  width: 100%;
  overflow-x: auto; /* scroll horizontal en pantallas pequeñas */
  margin-top: 16px;
}

table.mat-table {
  width: 100%;
  min-width: 700px; /* evita que se compriman demasiado las columnas */
}

.table-actions {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

/* Ajustes para móviles */
@media (max-width: 600px) {
  .table-actions {
    flex-direction: column;
    gap: 8px;
  }

  table.mat-table {
    min-width: 0; /* permite scroll si es necesario */
  }

  button.mat-raised-button {
    width: 100%;
  }

  td.mat-cell, th.mat-header-cell {
    font-size: 14px;
  }
}

.btn-small {
  font-size: 12px;
  padding: 4px 8px;
  min-width: 70px;
  margin-right: 4px;
}

button.mat-stroked-button {
  text-transform: none; /* Evita mayúsculas automáticas */
}

