.detalle-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full-width {
  width: 100%;
}

/* En pantallas grandes, formulario y tabla lado a lado */
@media (min-width: 768px) {
  .detalle-container {
    flex-direction: column; /* o row si quieres formulario a la izquierda y tabla a la derecha */
  }

  .buttons {
    flex-direction: row;
    gap: 12px;
  }
}

/* Imagen dentro de las celdas */
.marca-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.marca-img {
  width: 60px;
  height: 60px;
  margin:5%;
  object-fit: cover;       /* recorta y centra la imagen */
  border-radius: 10px;      /* bordes redondeados */
  border: 1px solid #ddd;  /* borde sutil */
  flex-shrink: 0;          /* evita que se achique en pantallas pequeñas */
}

/* Ajustes responsivos para móviles */
@media (max-width: 600px) {
  .marca-img {
    width: 70px;
    height: 70px;
   
  }

  .marca-cell span {
    font-size: 14px;
  }
}
