<h3>Artículos (Botellas)</h3>

<div class="table-actions">
  <button mat-raised-button color="primary" routerLink="/articulos/new">Nuevo Artículo</button>
</div>

<div class="table-responsive">
  <table mat-table [dataSource]="articulos" class="mat-elevation-z8">

    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef>Proveedor</th>
      <td mat-cell *matCellDef="let a">{{ a.proveedor }}</td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let a">{{ a.marca }}</td>
    </ng-container>

    <ng-container matColumnDef="precioProveedor">
      <th mat-header-cell *matHeaderCellDef>Precio Proveedor</th>
      <td mat-cell *matCellDef="let a">{{ a.precio_proveedor | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="precioVenta">
      <th mat-header-cell *matHeaderCellDef>Precio Venta</th>
      <td mat-cell *matCellDef="let a">{{ a.precio_venta | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="mililitros">
      <th mat-header-cell *matHeaderCellDef>Mililitros</th>
      <td mat-cell *matCellDef="let a">{{ a.mililitros }}</td>
    </ng-container>

    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let a">
        <img *ngIf="a.imagen" [src]="a.imagen" alt="Imagen" width="50"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let a">
        <button mat-icon-button (click)="edit(a)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="remove(a)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
</div>
