.table-responsive {
  width: 100%;
  overflow-x: auto;
  margin-top: 16px;
}

table.mat-table {
  width: 100%;
  min-width: 700px; /* evita que se compriman demasiado las columnas */
}

.table-actions {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

.marca-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.marca-img {
  width: 60px;
  margin: 10px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Ajustes para móviles */
@media (max-width: 600px) {
  .table-actions {
    flex-direction: column;
    gap: 8px;
  }

  table.mat-table {
    min-width: 0;
  }

  button.mat-raised-button {
    width: 100%;
  }

  td.mat-cell, th.mat-header-cell {
    font-size: 14px;
  }

  .marca-img {
      margin: 5px;
    width: 70px;
    height: 70px;
  }
}
