<div style="margin-bottom: 20px;">
  <button mat-raised-button color="primary" (click)="exportPDF()">
    <mat-icon>picture_as_pdf</mat-icon> Exportar PDF
  </button>
</div>
<mat-tab-group>

  <!-- Stock -->
  <mat-tab label="Stock de Artículos">
    <div class="table-container" *ngIf="stock.data.length >= 0; else loading">
      <table mat-table [dataSource]="stock" class="mat-elevation-z8">

        <ng-container matColumnDef="articulo">
          <th mat-header-cell *matHeaderCellDef>Artículo</th>
          <td mat-cell *matCellDef="let element">{{ element.articulo }}</td>
        </ng-container>

        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef>Proveedor</th>
          <td mat-cell *matCellDef="let element">{{ element.proveedor }}</td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef>Stock</th>
          <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsStock"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsStock;"></tr>
      </table>
    </div>
  </mat-tab>

  <!-- Pagos pendientes -->
  <mat-tab label="Pagos Pendientes">
    <div class="table-container" *ngIf="pagosPendientes.data.length >= 0; else loading">
      <table mat-table [dataSource]="pagosPendientes" class="mat-elevation-z8">

        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef>Proveedor</th>
          <td mat-cell *matCellDef="let element">{{ element.proveedor }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPendiente">
          <th mat-header-cell *matHeaderCellDef>Total Pendiente</th>
          <td mat-cell *matCellDef="let element">{{ element.totalPendiente | currency }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPagosPendientes"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPagosPendientes;"></tr>
      </table>
    </div>
  </mat-tab>

  <!-- Compras Pagas -->
  <mat-tab label="Compras Pagas">
    <ng-container *ngIf="comprasPagas; else loading">
      <p>Total Pagado: {{ comprasPagas.totalPagado | currency }}</p>
    </ng-container>
  </mat-tab>

  <!-- Deuda Vendedores -->
  <mat-tab label="Deuda Vendedores">
    <div class="table-container" *ngIf="deudaVendedores.data.length >= 0; else loading">
      <table mat-table [dataSource]="deudaVendedores" class="mat-elevation-z8">

        <ng-container matColumnDef="vendedor">
          <th mat-header-cell *matHeaderCellDef>Vendedor</th>
          <td mat-cell *matCellDef="let element">{{ element.vendedor }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPendiente">
          <th mat-header-cell *matHeaderCellDef>Deuda Pendiente</th>
          <td mat-cell *matCellDef="let element">{{ element.deuda | currency }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDeudaVendedores"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDeudaVendedores;"></tr>
      </table>
    </div>
  </mat-tab>

  <!-- Ventas Pagas -->
  <mat-tab label="Ventas Pagas">
    <ng-container *ngIf="ventasPagas && articulosVendidos; else loading">
      <p>Total Pagado: {{ ventasPagas.totalPagado | currency }}</p>
      <p>Artículos Más Vendidos: {{ articulosVendidos.masVendido }}</p>
      <p>Artículos Menos Vendidos: {{ articulosVendidos.menosVendido }}</p>
    </ng-container>
  </mat-tab>

  <!-- Porcentaje Ventas Artículos -->
 <mat-tab label="Porcentaje Ventas">
  <p>Total Vendido: {{ totalVendido }}</p>
  <div class="table-container">
    <table mat-table [dataSource]="porcentajeVentas" class="mat-elevation-z8">
      
      <ng-container matColumnDef="articulo">
        <th mat-header-cell *matHeaderCellDef>Artículo</th>
        <td mat-cell *matCellDef="let element">{{ element.articulo }}</td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

      <ng-container matColumnDef="porcentaje">
        <th mat-header-cell *matHeaderCellDef>Porcentaje</th>
        <td mat-cell *matCellDef="let element">{{ element.porcentaje }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPorcentaje"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPorcentaje;"></tr>
    </table>
  </div>
</mat-tab>


</mat-tab-group>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
