   <h3>{{ editingId ? 'Editar Vendedor' : 'Nuevo Vendedor' }}</h3>
    <form [formGroup]="form" (ngSubmit)="save()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre"/>
      </mat-form-field>
<!--
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Precio asignado</mat-label>
        <input matInput type="number" formControlName="precio"/>
      </mat-form-field>-->

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">{{ editingId ? 'Actualizar' : 'Guardar' }}</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancelar</button>
      </div>
    </form>