 <h3>Vendedores</h3>
    <button mat-raised-button color="primary" routerLink="/vendedores/new">Nuevo Vendedor</button>
    <table mat-table [dataSource]="vendedores" class="mat-elevation-z8">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let v">{{ v.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio asignado</th>
        <td mat-cell *matCellDef="let v">{{ v.precio | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let v">
          <button mat-icon-button (click)="edit(v)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="remove(v)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>